*{
  box-sizing: border-box
}

body{
  margin: 0%;
  display: grid;
  grid-template-columns: 15% 25% 35% 25%;
  grid-template-rows: 10% 10% 30% 35% 30%;
  background-color:gray}

.box1{
  background-color: black;
}

h1{
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 17%
  }
  .box2{
    background-color: white;
    padding-top: 20px;
    padding-left: 15px;
  }
 
  #input{
    margin-left: 15px;
    margin-top: 10;
  }

  .box3{
    background-color: white;
   }
  
   .box4{
     background-color: white;
   }
   #arrow{
     margin-left: 120px;
     margin-top: 20px
   }

   
   .box5{
     background-color: black;
   }

  #dash{
    display: flex;
    margin-top: 40px;
    margin-left:60px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13;
    
  }

  #tic1{
    margin-top: 20px;
    margin-left: 40px;
    color: white
  }

  .box6{
    background-color: rgb(23, 196, 138)
  }

#bottomnav{
  display: flex;
}
#bottomnav h3{
  margin-top: 38px;
  margin-left: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

#bottomnav p{
  font-size: 11;
  margin-left: 25px;
  margin-top: 45px;
  color: white
}

.box7{
  background-color: rgb(23, 196, 138);
}

.box8{
  background-color: rgb(23, 55, 196)
}

#head{
  margin-left: 150;
  margin-top: 20;
  color: black
}

h4{
  color: white;
  margin-left: 200px;
  margin-top: -20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#point{
  margin-left: 330px;
  margin-top: -35
}

.box9{
  background-color: black;
}
h6{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
#drop{
  color: white;
  margin-left: 150;
  margin-top: -79;
}

#graph1{
  margin-top: 10px;
  margin-left: 10px;
  width: 350px;
  height: 200px;
}

#line{
  width: 450px;
  height: 200px;
  margin-top: 10px;
  margin-left: 30px
}

#color1{
width: 350px;
height: 200px;
margin-top: 10px;
}

.box13{
  background-color: black;
}
h6{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

#maingraph{
  margin-top: 0px;
  margin-left:10px;
  height: 294px;
  width: 750px;
  
}




























@media (min-width: 768px) {

}

@media (min-width: 576px) {

}