
  @media (min-width: 576px) {
    *{
      box-sizing: border-box
    }
    
    body{
      margin: 0%;
      display: grid;
      grid-template-rows: 5% 5% 5% 5% 50% 1fr;
      background-color:gray}
    
    
    .box2{
      background-color: white;
      padding-top: 20px;
      padding-left: 15px;
      
    }
   
    #input{
      margin-left: -200pxx;
      margin-top: 10;
    }
  
    .box3{
      background-color: white;
     }
    
     .box4{
       background-color: white;
     }
     #arrow{
       margin-left: 120px;
       margin-top: 20px
     }

  }
  