*{
  box-sizing: border-box
}

body{
  /* margin: 0;
  padding: 0; */
  background-image: url(https://images.unsplash.com/photo-1532298229144-0ec0c57515c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2808&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}



.grid-container{
  height: 100%;
  width: 100%;
  display: grid; 
  grid-template-columns: 5% 15% 15% 10% 22% 28% 1fr;
  grid-template-rows: 7% 8% 5% 28% 11% 11% 15% 1fr;
}

.box {
  height: 100%;
  width: 100%;
}

.four {
color:yellow;
margin-top: 45px;
font-family: Helvetica;
font-size: 12px;
}

.six{
  color: white;
  vertical-align: middle;
  font-family:Helvetica;
  font-size: 12px;
  grid-column: 6;
  grid-row: 1;
  text-align: center;
  line-height: 5px;
  display: flex;
  justify-content: space-around;
  margin-top: 36;
  
}

.seven{
  color: white;
  margin-top: 40px;
  }

.ten{
  color: white;
  margin-top: 50px;
}

.fourteen{
  font-family: helvetica;
  font-size: 12px;
  color: white;
  margin-top: 55px;
}

.seventeen{
  color: white;
  margin-top: 25px;
}

.twentyfour{
  font-family: helvetica;
  font-size: 15px;
  margin-top: 217px;
  color:white;
}

.twentyseven{
  color: yellow;
  font-family: helvetica;
  font-size: 15px;
  margin-top: 150;
  text-align: center;
}

.twentyeight{
  color: white;
  margin-top: 170px;
}

.thirtyfour{
  font-family: helvetica;
  font-size: 8px;
  color: white;
  word-wrap: normal;
  text-align: center;
  margin-top: 5px;
}

.fourtyone{
  color: white;
  font-family: helvetica;
  font-size: 13px;
  text-align: center;
  margin-top: 28;
}

.fortyfour{
  color: yellow;
  font-family: helvetica;
  font-size: 17px;
  margin-top:65px;
  text-align: center;
}

.fiftyone{
  color: white;
  font-family: helvetica;
  font-size: 13px;
  word-wrap: normal;
  text-align: center;
  margin-bottom: 65px;
}